### Instalação e importação

In [48]:
import pandas as pd
import numpy as np

### DataFrames e Series

In [97]:
dados = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(dados)
df

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   28     Tokyo

In [98]:
{
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}

{'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Age': [25, 30, 35, 28],
 'City': ['New York', 'London', 'Paris', 'Tokyo']}

In [99]:
s = pd.Series([10, 20, 30])
s

0    10
1    20
2    30
dtype: int64

### Lendo tabelas

In [148]:
df = pd.read_csv('Semana_2/Modulo 2/Aula 4/datasets/netflix_titles.csv')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

### Manipulação básica de dados

In [102]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [103]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [110]:
df[['title', 'release_year', 'director']]

                      title  release_year         director
0      Dick Johnson Is Dead          2020  Kirsten Johnson
1             Blood & Water          2021              NaN
2                 Ganglands          2021  Julien Leclercq
3     Jailbirds New Orleans          2021              NaN
4              Kota Factory          2021              NaN
...                     ...           ...              ...
8802                 Zodiac          2007    David Fincher
8803            Zombie Dumb          2018              NaN
8804             Zombieland          2009  Ruben Fleischer
8805                   Zoom          2006     Peter Hewitt
8806                 Zubaan          2015      Mozez Singh

[8807 rows x 3 columns]

In [118]:
df['release_year'] > 2020

0       False
1        True
2        True
3        True
4        True
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Name: release_year, Length: 8807, dtype: bool

### Séries booleanas e filtros

In [57]:
df['release_year'] > 2020

0       False
1        True
2        True
3        True
4        True
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Name: release_year, Length: 8807, dtype: bool

In [119]:
df[df['release_year'] > 2020]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...,...,...
1468,s1469,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,102 min,"Comedies, International Movies","With the peak of his career long behind him, a..."
1551,s1552,TV Show,Hilda,NaN,"Bella Ramsey, Ameerah Falzon-Ojo, Oliver Nelso...","United Kingdom, Canada, United States","December 14, 2020",2021,TV-Y7,2 Seasons,Kids' TV,"Fearless, free-spirited Hilda finds new friend..."
1696,s1697,TV Show,Polly Pocket,NaN,"Emily Tennant, Shannon Chan-Kent, Kazumi Evans...","Canada, United States, Ireland","November 15, 2020",2021,TV-Y,2 Seasons,Kids' TV,After uncovering a magical locket that allows ...
2920,s2921,TV Show,Love Is Blind,NaN,"Nick Lachey, Vanessa Lachey",United States,"February 13, 2020",2021,TV-MA,1 Season,"Reality TV, Romantic TV Shows",Nick and Vanessa Lachey host this social exper...
8437,s8438,TV Show,The Netflix Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster",United States,"January 2, 2021",2021,TV-MA,1 Season,"Stand-Up Comedy & Talk Shows, TV Comedies","Hosts David Spade, Fortune Feimster and London..."

In [126]:
df[df['country'] == 'France'].head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
91,s92,Movie,The Women and the Murderer,"Mona Achache, Patricia Tourancheau",NaN,France,"September 9, 2021",2021,TV-14,92 min,"Documentaries, International Movies",This documentary traces the capture of serial ...
188,s189,Movie,2 Alone in Paris,"Ramzy Bedia, Éric Judor","Ramzy Bedia, Éric Judor, Benoît Magimel, Krist...",France,"August 28, 2021",2008,TV-MA,97 min,"Comedies, International Movies",A bumbling Paris policeman is doggedly determi...
273,s274,TV Show,Gone for Good,Juan Carlos Medina,"Finnegan Oldfield, Nicolas Duvauchelle, Guilla...",France,"August 13, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","Ten years after losing two loved ones, a man i..."
299,s300,Movie,The Swarm,Just Philippot,"Suliane Brahim, Sofian Khammes, Marie Narbonne...",France,"August 6, 2021",2021,TV-14,102 min,"Horror Movies, Independent Movies, Internation...",A single mother breeds locusts as high-protein...
553,s554,TV Show,Mortel,NaN,"Carl Malapa, Nemo Schiffman, Manon Bresch, Cor...",France,"July 2, 2021",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas",After making a deal with a supernatural figure...

### Combinando filtros

In [151]:
filtro_tipo = df['type'] == 'Movie'
filtro_recentes = df['release_year'] > 2020

recentes = df[filtro_tipo]
recentes

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [143]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [137]:
brasil_movies_newest =  df.query('release_year > 2020 & country == "Brazil"')
brasil_movies_newest

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
783,s784,Movie,Carnaval,Leandro Neri,"Giovana Cordeiro, Gkay, Bruna Inocencio, Samya...",Brazil,"June 2, 2021",2021,TV-MA,95 min,"Comedies, International Movies, Music & Musicals","After a breakup, an influencer takes her frien..."
966,s967,Movie,Get the Grift,Pedro Antonio,"Marcus Majella, Samantha Schmütz, Caito Mainie...",Brazil,"April 28, 2021",2021,TV-MA,95 min,"Comedies, International Movies","After a botched scam, Clóvis bumps into Lohane..."
1188,s1189,Movie,Get the Goat,Vitor Brandt,"Matheus Nachtergaele, Edmilson Filho, Letícia ...",Brazil,"March 18, 2021",2021,TV-14,98 min,"Action & Adventure, Comedies, International Mo...",Two hapless cops find themselves in over their...
1339,s1340,TV Show,Invisible City,NaN,"Marco Pigossi, Alessandra Negrini, Fábio Lago,...",Brazil,"February 5, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","After a family tragedy, a man discovers mythic..."

In [152]:
recentes.sort_values(by='director', ascending=True)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6078,s6079,Movie,Abhinetri,A. L. Vijay,"Tamannaah Bhatia, Prabhu Deva, Sonu Sood, Sapt...",India,"May 1, 2018",2016,TV-14,131 min,"Comedies, International Movies, Sci-Fi & Fantasy","Due to family pressure, a corporate man reluct..."
3537,s3538,Movie,Watchman,A. L. Vijay,"G.V. Prakash Kumar, Samyuktha Hegde, Suman, Ra...",India,"September 4, 2019",2019,TV-14,93 min,"Comedies, Dramas, International Movies","Rushing to pay off a loan shark, a young man b..."
2389,s2390,Movie,Asura Guru,A. Raajdheep,"Vikram Prabhu, Subbaraju, Mahima Nambiar, Yogi...",India,"June 13, 2020",2020,TV-14,117 min,"Dramas, International Movies","For a tech-savvy thief, elaborate robberies an..."
5549,s5550,Movie,Salaakhen,A. Salaam,"Shashi Kapoor, Sulakshana Pandit, Mehmood, Sud...",India,"April 1, 2017",1975,TV-14,134 min,"Action & Adventure, International Movies, Musi...",Two close childhood friends take drastically d...
4049,s4050,Movie,Sarkar,A.R. Murugadoss,"Vijay, Varalakshmi Sarathkumar, Keerthi Suresh...",NaN,"March 2, 2019",2018,TV-MA,162 min,"Action & Adventure, Dramas, International Movies",A ruthless businessman’s mission to expose ele...
...,...,...,...,...,...,...,...,...,...,...,...,...
8231,s8232,Movie,The Bund,NaN,Chow Yun Fat,Hong Kong,"September 20, 2018",1983,TV-14,103 min,"Action & Adventure, Dramas, International Movies","After losing everything, a young man rebuilds ..."
8268,s8269,Movie,The Darkest Dawn,NaN,NaN,United Kingdom,"June 23, 2018",2016,TV-MA,75 min,"Action & Adventure, Independent Movies, Intern...",An aspiring filmmaker records the chaos of an ...
8330,s8331,Movie,The Great Battle,NaN,"Zo In-sung, Nam Joo-hyuk, Park Sung-woong, Bae...",South Korea,"April 8, 2019",2018,TV-MA,136 min,"Action & Adventure, Dramas, International Movies","In seventh-century Korea, the commander of Ans..."
8647,s8648,Movie,"Twisted Trunk, Big Fat Body",NaN,"Vijay Maurya, Naman Jain, Usha Nadkarni, Mukes...",India,"January 15, 2017",2015,TV-14,89 min,"Dramas, International Movies",After terrorists place a bomb inside a toy Lor...
8784,s8785,Movie,Yoko and His Friends,NaN,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...","Russia, Spain","June 23, 2018",2015,TV-Y,78 min,Children & Family Movies,"Vik meets new friends in a new city, where the..."

In [154]:
recentes['director'].dropna()

0                     Kirsten Johnson
6       Robert Cullen, José Luis Ucha
7                        Haile Gerima
9                      Theodore Melfi
12                Christian Schwochow
                    ...
8801                  Majid Al Ansari
8802                    David Fincher
8804                  Ruben Fleischer
8805                     Peter Hewitt
8806                      Mozez Singh
Name: director, Length: 5943, dtype: object

### Criando e removendo colunas

In [157]:
recentes['date_added'] = recentes['date_added'] + ' year'
recentes['date_added']

/var/folders/hr/hf99z3sn635_fs6qx5t20m340000gn/T/ipykernel_23126/827164223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recentes['date_added'] = recentes['date_added'] + ' year'

0       September 25, 2021 year
6       September 24, 2021 year
7       September 24, 2021 year
9       September 24, 2021 year
12      September 23, 2021 year
                 ...
8801         March 9, 2016 year
8802     November 20, 2019 year
8804      November 1, 2019 year
8805      January 11, 2020 year
8806         March 2, 2019 year
Name: date_added, Length: 6131, dtype: object

In [158]:
recentes = recentes.drop('date_added', axis=1)
recentes

,show_id,type,title,director,cast,country,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

### Resumindo dados

In [37]:
df = pd.read_csv('Semana_2/Modulo 2/Aula 4/datasets/card_transdata.csv')
df

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   distance_from_home              1000000 non-null  float64
 1   distance_from_last_transaction  1000000 non-null  float64
 2   ratio_to_median_purchase_price  1000000 non-null  float64
 3   repeat_retailer                 1000000 non-null  float64
 4   used_chip                       1000000 non-null  float64
 5   used_pin_number                 1000000 non-null  float64
 6   online_order                    1000000 non-null  float64
 7   fraud                           1000000 non-null  float64
dtypes: float64(8)
memory usage: 61.0 MB

In [41]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
distance_from_home,1000000.0,26.628792,65.390784,0.004874,3.878008,9.967760,25.743985,10632.723672
distance_from_last_transaction,1000000.0,5.036519,25.843093,0.000118,0.296671,0.998650,3.355748,11851.104565
ratio_to_median_purchase_price,1000000.0,1.824182,2.799589,0.004399,0.475673,0.997717,2.096370,267.802942
repeat_retailer,1000000.0,0.881536,0.323157,0.000000,1.000000,1.000000,1.000000,1.000000
used_chip,1000000.0,0.350399,0.477095,0.000000,0.000000,0.000000,1.000000,1.000000
used_pin_number,1000000.0,0.100608,0.300809,0.000000,0.000000,0.000000,0.000000,1.000000
online_order,1000000.0,0.650552,0.476796,0.000000,0.000000,1.000000,1.000000,1.000000
fraud,1000000.0,0.087403,0.282425,0.000000,0.000000,0.000000,0.000000,1.000000

In [42]:
df['fraud'].sum()

np.float64(87403.0)

In [43]:
df['ratio_to_median_purchase_price'].mean()

np.float64(1.8241819784044917)

In [68]:
sampled_df = df.sample(frac=0.1, random_state=45)
sampled_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
519,s520,TV Show,I AM A KILLER,NaN,NaN,United Kingdom,"July 6, 2021",2020,TV-MA,2 Seasons,"British TV Shows, Crime TV Shows, Docuseries",Death row inmates convicted of capital murder ...
4587,s4588,Movie,Muran,Rajan Madhav,"Prasanna, Cheran, Haripriya, Nikhita, Suma Bha...",India,"October 1, 2018",2011,TV-14,134 min,"Action & Adventure, International Movies",When jingle composer Nanda's car breaks down o...
8194,s8195,Movie,The Apostate,Federico Veiroj,"Álvaro Ogalla, Marta Larralde, Bárbara Lennie,...","Spain, France, Uruguay","May 10, 2017",2015,TV-MA,80 min,"Comedies, Dramas, International Movies",A young man determined to renounce Catholicism...
255,s256,Movie,Memories of a Murderer: The Nilsen Tapes,Michael Harte,NaN,NaN,"August 18, 2021",2021,TV-MA,86 min,"Documentaries, International Movies",Serial killer Dennis Nilsen narrates his life ...
5662,s5663,TV Show,Crazyhead,NaN,"Cara Theobold, Susan Wokoma, Riann Steele, Ari...",United Kingdom,"December 16, 2016",2016,TV-MA,1 Season,"British TV Shows, International TV Shows, TV C...",Bowling alley worker Amy and nonconformist Raq...

### Limpeza de dados

In [70]:
df = sampled_df

In [74]:
df.count()

show_id         881
type            881
title           881
director        623
cast            793
country         790
date_added      881
release_year    881
rating          880
duration        881
listed_in       881
description     881
dtype: int64

In [77]:
df.dropna(subset="director")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4587,s4588,Movie,Muran,Rajan Madhav,"Prasanna, Cheran, Haripriya, Nikhita, Suma Bha...",India,"October 1, 2018",2011,TV-14,134 min,"Action & Adventure, International Movies",When jingle composer Nanda's car breaks down o...
8194,s8195,Movie,The Apostate,Federico Veiroj,"Álvaro Ogalla, Marta Larralde, Bárbara Lennie,...","Spain, France, Uruguay","May 10, 2017",2015,TV-MA,80 min,"Comedies, Dramas, International Movies",A young man determined to renounce Catholicism...
255,s256,Movie,Memories of a Murderer: The Nilsen Tapes,Michael Harte,NaN,NaN,"August 18, 2021",2021,TV-MA,86 min,"Documentaries, International Movies",Serial killer Dennis Nilsen narrates his life ...
8774,s8775,Movie,يوم الدين,Abu Bakr Shawky,"Rady Gamal, Ahmed Abdelhafiz, Shahira Fahmy, S...","Egypt, Austria, United States","October 22, 2019",2018,TV-14,97 min,"Dramas, Independent Movies, International Movies",A man cured of leprosy and a young orphan leav...
6207,s6208,Movie,Back and Forth,José Eduardo Belmonte,"Ingrid Guimarães, Fábio Assunção, Alice Braga,...",Brazil,"January 5, 2017",2016,NR,95 min,"Comedies, Dramas, International Movies",When their car breaks down en route to São Pau...
...,...,...,...,...,...,...,...,...,...,...,...,...
5767,s5768,Movie,Harud,Aamir Bashir,"Mohammad Amir Naji, Shahnawaz Bhat, Shamim Bas...",India,"October 1, 2016",2010,TV-MA,100 min,"Dramas, International Movies",A young Kashmiri man sets out to escape to Pak...
57,s58,Movie,Naruto Shippûden the Movie: Bonds,Hajime Kamegaki,"Junko Takeuchi, Chie Nakamura, Noriaki Sugiyam...",Japan,"September 15, 2021",2008,TV-PG,93 min,"Action & Adventure, Anime Features, Internatio...",When strange ninjas ambush the village of Kono...
6875,s6876,Movie,Good Kill,Andrew Niccol,"Ethan Hawke, January Jones, Bruce Greenwood, Z...",United States,"April 2, 2017",2014,R,103 min,Dramas,As Tommy Egan pilots armed drones over Afghani...
6511,s6512,Movie,Code Name: The Cleaner,Les Mayfield,"Cedric the Entertainer, Lucy Liu, Nicollette S...",United States,"November 1, 2019",2007,PG-13,91 min,"Action & Adventure, Comedies",A mild-mannered janitor duped into believing h...
5841,s5842,Movie,Ip Man 3,Wilson Yip,"Donnie Yen, Zhang Jin, Lynn Hung, Patrick Tam,...","China, Hong Kong","June 18, 2016",2015,PG-13,105 min,"Action & Adventure, Dramas, International Movies",Martial arts master Ip springs into action whe...

In [76]:
media_ano = df['release_year'].mean()
df['release_year'].fillna(media_ano)

519     2020
4587    2011
8194    2015
255     2021
5662    2016
        ...
1640    2020
6875    2014
6511    2007
5841    2015
1158    2013
Name: release_year, Length: 881, dtype: int64

In [79]:
df['cast'] = df['cast'].astype(str)
df['cast']

519                                                   nan
4587    Prasanna, Cheran, Haripriya, Nikhita, Suma Bha...
8194    Álvaro Ogalla, Marta Larralde, Bárbara Lennie,...
255                                                   nan
5662    Cara Theobold, Susan Wokoma, Riann Steele, Ari...
                              ...
1640    Luke Mockridge, Seyneb Saleh, Cristina do Rego...
6875    Ethan Hawke, January Jones, Bruce Greenwood, Z...
6511    Cedric the Entertainer, Lucy Liu, Nicollette S...
5841    Donnie Yen, Zhang Jin, Lynn Hung, Patrick Tam,...
1158    Kendall Schmidt, James Maslow, Carlos Pena, Lo...
Name: cast, Length: 881, dtype: object

### Contando ocorrências

In [81]:
df.groupby('director')

In [82]:
df.groupby('director')['release_year'].mean()

director
A. Raajdheep                 2020.0
Aamir Bashir                 2010.0
Aaron Woodley                2019.0
Abbas Mustan                 1998.0
Abel Ferrara                 2014.0
                              ...
Yılmaz Erdoğan               2013.0
Zach Braff                   2014.0
Ziad Doueiri                 1999.0
Àlex Pastor, David Pastor    2009.0
Ángeles Reiné                2020.0
Name: release_year, Length: 583, dtype: float64

In [84]:
df.groupby('director').describe()

                          release_year                                      \
                                 count    mean std     min     25%     50%
director
A. Raajdheep                       1.0  2020.0 NaN  2020.0  2020.0  2020.0
Aamir Bashir                       1.0  2010.0 NaN  2010.0  2010.0  2010.0
Aaron Woodley                      1.0  2019.0 NaN  2019.0  2019.0  2019.0
Abbas Mustan                       1.0  1998.0 NaN  1998.0  1998.0  1998.0
Abel Ferrara                       1.0  2014.0 NaN  2014.0  2014.0  2014.0
...                                ...     ...  ..     ...     ...     ...
Yılmaz Erdoğan                     1.0  2013.0 NaN  2013.0  2013.0  2013.0
Zach Braff                         1.0  2014.0 NaN  2014.0  2014.0  2014.0
Ziad Doueiri                       1.0  1999.0 NaN  1999.0  1999.0  1999.0
Àlex Pastor, David Pastor          1.0  2009.0 NaN  2009.0  2009.0  2009.0
Ángeles Reiné                      1.0  2020.0 NaN  2020.0  2020.0  2020.0


                              75%     max
director
A. Raajdheep               2020.0  2020.0
Aamir Bashir               2010.0  2010.0
Aaron Woodley              2019.0  2019.0
Abbas Mustan               1998.0  1998.0
Abel Ferrara               2014.0  2014.0
...                           ...     ...
Yılmaz Erdoğan             2013.0  2013.0
Zach Braff                 2014.0  2014.0
Ziad Doueiri               1999.0  1999.0
Àlex Pastor, David Pastor  2009.0  2009.0
Ángeles Reiné              2020.0  2020.0

[583 rows x 8 columns]

### Ordenando dados

In [88]:
df.sort_values(by='director')['director']

2389     A. Raajdheep
5767     Aamir Bashir
2562    Aaron Woodley
2074     Abbas Mustan
8715     Abel Ferrara
            ...
5470              NaN
1487              NaN
2013              NaN
1640              NaN
1158              NaN
Name: director, Length: 881, dtype: object

In [90]:
df.sort_values(by='director', ascending=False)['director']

1386                Ángeles Reiné
6424    Àlex Pastor, David Pastor
1829                 Ziad Doueiri
8751                   Zach Braff
5581               Yılmaz Erdoğan
                  ...
5470                          NaN
1487                          NaN
2013                          NaN
1640                          NaN
1158                          NaN
Name: director, Length: 881, dtype: object

### Combinando dados

In [91]:
# DataFrame de Funcionários
dados_func = {
    'id_func': [1, 2, 3, 4, 5],
    'nome': ['Ana', 'Carlos', 'Beatriz', 'Davi', 'Eva'],
    'id_dept': [101, 102, 101, 103, 102]  # Note que os códigos se repetem
}
df_func = pd.DataFrame(dados_func)

# DataFrame de Departamentos
dados_depts = {
    'id': [101, 102, 103],
    'nome_dept': ['Recursos Humanos', 'TI', 'Vendas']
}
df_depts = pd.DataFrame(dados_depts)

In [94]:
df_completo = pd.merge(df_func, df_depts)
df_completo

   id_func     nome  id_dept         nome_dept
0        1      Ana      101  Recursos Humanos
1        2   Carlos      102                TI
2        3  Beatriz      101  Recursos Humanos
3        4     Davi      103            Vendas
4        5      Eva      102                TI

In [93]:
df_completo = pd.merge(df_func, df_depts, left_on='id_dept', right_on='id')
df_completo

   id_func     nome  id_dept         nome_dept
0        1      Ana      101  Recursos Humanos
1        2   Carlos      102                TI
2        3  Beatriz      101  Recursos Humanos
3        4     Davi      103            Vendas
4        5      Eva      102                TI

In [95]:
dados_func = {
    'id_func': [6, 7, 8, 9, 10],
    'nome': ['Patrick', 'Jaqueline', 'Bianca', 'Raquel', 'Andrei'],
    'id_dept': [101, 102, 101, 103, 102]
}

df_func_novos = pd.DataFrame(dados_func)

In [96]:
df_todos = pd.concat([df_func, df_func_novos], ignore_index=True)
df_todos

   id_func       nome  id_dept
0        1        Ana      101
1        2     Carlos      102
2        3    Beatriz      101
3        4       Davi      103
4        5        Eva      102
5        6    Patrick      101
6        7  Jaqueline      102
7        8     Bianca      101
8        9     Raquel      103
9       10     Andrei      102

### Escrevendo dados em arquivos

In [47]:
df_todos.to_excel('salvar.csv')

In [161]:
recentes.to_csv('recentes.csv', sep=';')

In [ ]:
a