### Instalação e importação

In [208]:
import pandas as pd
import numpy as np

### DataFrames e Series

In [209]:
dados = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(dados)
df

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   28     Tokyo

In [210]:
{
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}

{'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Age': [25, 30, 35, 28],
 'City': ['New York', 'London', 'Paris', 'Tokyo']}

In [211]:
s = pd.Series([10, 20, 30])
s

0    10
1    20
2    30
dtype: int64

### Lendo tabelas

In [212]:
df = pd.read_csv(r'C:\Users\henrique.mourao\PyCharmMiscProject\EstudoPython\Dataset\netflix_titles.csv')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
6394,s6395,Movie,Bushwick,"Cary Murnion, Jonathan Milott","Dave Bautista, Brittany Snow, Angelic Zambrana...",United States,"November 24, 2017",2017,TV-MA,94 min,"Action & Adventure, Independent Movies",When their diverse neighborhood is besieged by...
6395,s6396,Movie,Butterfield 8,Daniel Mann,"Elizabeth Taylor, Laurence Harvey, Eddie Fishe...",United States,"November 1, 2019",1960,TV-14,108 min,"Classic Movies, Dramas, Romantic Movies",Elizabeth Taylor won an Oscar as Gloria Wandro...
6396,s6397,Movie,Cézanne et moi,Daniele Thompson,"Guillaume Canet, Guillaume Gallienne, Alice Po...","Belgium, France","September 7, 2017",2016,R,114 min,"Dramas, Independent Movies, International Movies",This historical drama explores the long and of...
6397,s6398,Movie,Cabin Fever,Travis Zariwny,"Gage Golightly, Matthew Daddario, Samuel Davis...",United States,"June 6, 2019",2016,R,98 min,"Horror Movies, Thrillers",As a flesh-eating virus rips its way through a...
6398,s6399,TV Show,Cabins in the Wild with Dick Strawbridge,NaN,"Dick Strawbridge, William Hardie",United Kingdom,"September 15, 2018",2017,TV-PG,1 Season,"British TV Shows, International TV Shows, Real...",Engineer Dick Strawbridge and craftsman Will H...

### Manipulação básica de dados

In [213]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [214]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6394,s6395,Movie,Bushwick,"Cary Murnion, Jonathan Milott","Dave Bautista, Brittany Snow, Angelic Zambrana...",United States,"November 24, 2017",2017,TV-MA,94 min,"Action & Adventure, Independent Movies",When their diverse neighborhood is besieged by...
6395,s6396,Movie,Butterfield 8,Daniel Mann,"Elizabeth Taylor, Laurence Harvey, Eddie Fishe...",United States,"November 1, 2019",1960,TV-14,108 min,"Classic Movies, Dramas, Romantic Movies",Elizabeth Taylor won an Oscar as Gloria Wandro...
6396,s6397,Movie,Cézanne et moi,Daniele Thompson,"Guillaume Canet, Guillaume Gallienne, Alice Po...","Belgium, France","September 7, 2017",2016,R,114 min,"Dramas, Independent Movies, International Movies",This historical drama explores the long and of...
6397,s6398,Movie,Cabin Fever,Travis Zariwny,"Gage Golightly, Matthew Daddario, Samuel Davis...",United States,"June 6, 2019",2016,R,98 min,"Horror Movies, Thrillers",As a flesh-eating virus rips its way through a...
6398,s6399,TV Show,Cabins in the Wild with Dick Strawbridge,NaN,"Dick Strawbridge, William Hardie",United Kingdom,"September 15, 2018",2017,TV-PG,1 Season,"British TV Shows, International TV Shows, Real...",Engineer Dick Strawbridge and craftsman Will H...

In [215]:
df[['title', 'release_year', 'director']]

,title,release_year,director
0,Dick Johnson Is Dead,2020,Kirsten Johnson
1,Blood & Water,2021,NaN
2,Ganglands,2021,Julien Leclercq
3,Jailbirds New Orleans,2021,NaN
4,Kota Factory,2021,NaN
...,...,...,...
6394,Bushwick,2017,"Cary Murnion, Jonathan Milott"
6395,Butterfield 8,1960,Daniel Mann
6396,Cézanne et moi,2016,Daniele Thompson
6397,Cabin Fever,2016,Travis Zariwny
6398,Cabins in the Wild with Dick Strawbridge,2017,NaN

In [216]:
df['listed_in'].str.contains('Dramas', na=False)

0       False
1        True
2       False
3       False
4       False
        ...
6394    False
6395     True
6396     True
6397    False
6398    False
Name: listed_in, Length: 6399, dtype: bool

### Séries booleanas e filtros

In [217]:
df[df['release_year'] > 2020]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...,...,...
1466,s1467,Movie,The Minimalists: Less Is Now,NaN,NaN,United States,"January 1, 2021",2021,TV-14,54 min,Documentaries,They've built a movement out of minimalism. Lo...
1468,s1469,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,102 min,"Comedies, International Movies","With the peak of his career long behind him, a..."
1551,s1552,TV Show,Hilda,NaN,"Bella Ramsey, Ameerah Falzon-Ojo, Oliver Nelso...","United Kingdom, Canada, United States","December 14, 2020",2021,TV-Y7,2 Seasons,Kids' TV,"Fearless, free-spirited Hilda finds new friend..."
1696,s1697,TV Show,Polly Pocket,NaN,"Emily Tennant, Shannon Chan-Kent, Kazumi Evans...","Canada, United States, Ireland","November 15, 2020",2021,TV-Y,2 Seasons,Kids' TV,After uncovering a magical locket that allows ...
2920,s2921,TV Show,Love Is Blind,NaN,"Nick Lachey, Vanessa Lachey",United States,"February 13, 2020",2021,TV-MA,1 Season,"Reality TV, Romantic TV Shows",Nick and Vanessa Lachey host this social exper...

In [218]:
df[df['country'] == 'Brazil']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
302,s303,Movie,City of God: 10 Years Later,"Cavi Borges, Luciano Vidigal",NaN,Brazil,"August 5, 2021",2013,TV-MA,69 min,"Documentaries, International Movies","A decade after the seminal Brazilian film ""Cit..."
650,s651,Movie,O Vendedor de Sonhos,Jayme Monjardim,"César Troncoso, Dan Stulbach, Thiago Mendonça,...",Brazil,"June 22, 2021",2016,TV-14,96 min,"Dramas, International Movies",A disillusioned psychologist tries to commit s...
783,s784,Movie,Carnaval,Leandro Neri,"Giovana Cordeiro, Gkay, Bruna Inocencio, Samya...",Brazil,"June 2, 2021",2021,TV-MA,95 min,"Comedies, International Movies, Music & Musicals","After a breakup, an influencer takes her frien..."
966,s967,Movie,Get the Grift,Pedro Antonio,"Marcus Majella, Samantha Schmütz, Caito Mainie...",Brazil,"April 28, 2021",2021,TV-MA,95 min,"Comedies, International Movies","After a botched scam, Clóvis bumps into Lohane..."
1188,s1189,Movie,Get the Goat,Vitor Brandt,"Matheus Nachtergaele, Edmilson Filho, Letícia ...",Brazil,"March 18, 2021",2021,TV-14,98 min,"Action & Adventure, Comedies, International Mo...",Two hapless cops find themselves in over their...
...,...,...,...,...,...,...,...,...,...,...,...,...
5626,s5627,Movie,O Silêncio do Céu,Marco Dutra,"Leonardo Sbaraglia, Carolina Dieckmann, Chino ...",Brazil,"January 25, 2017",2016,TV-MA,102 min,"Dramas, International Movies","After being raped in her home, a married woman..."
5765,s5766,Movie,Chatô: The King of Brazil,Guilherme Fontes,"Marco Ricca, Andrea Beltrão, Letícia Sabatella...",Brazil,"October 1, 2016",2015,TV-MA,105 min,"Dramas, International Movies",The romanticized life of media mogul Assis Cha...
6048,s6049,Movie,A new Capitalism,NaN,NaN,Brazil,"June 12, 2018",2017,TV-14,76 min,"Documentaries, International Movies",Entrepreneurs worldwide explore alternatives t...
6207,s6208,Movie,Back and Forth,José Eduardo Belmonte,"Ingrid Guimarães, Fábio Assunção, Alice Braga,...",Brazil,"January 5, 2017",2016,NR,95 min,"Comedies, Dramas, International Movies",When their car breaks down en route to São Pau...
6366,s6367,Movie,Boy and the World,Alê Abreu,"Vinícius Garcia, Felipe Zilse, Alê Abreu, Lu H...",Brazil,"October 1, 2017",2013,PG,80 min,Children & Family Movies,Young Cuca leaves his idyllic village on a gra...

### Combinando filtros

In [219]:
filtro_brasileiro = df['country'] == 'Brazil'
filtro_recentes = df['release_year'] > 2020

df[filtro_brasileiro & filtro_recentes]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
783,s784,Movie,Carnaval,Leandro Neri,"Giovana Cordeiro, Gkay, Bruna Inocencio, Samya...",Brazil,"June 2, 2021",2021,TV-MA,95 min,"Comedies, International Movies, Music & Musicals","After a breakup, an influencer takes her frien..."
966,s967,Movie,Get the Grift,Pedro Antonio,"Marcus Majella, Samantha Schmütz, Caito Mainie...",Brazil,"April 28, 2021",2021,TV-MA,95 min,"Comedies, International Movies","After a botched scam, Clóvis bumps into Lohane..."
1188,s1189,Movie,Get the Goat,Vitor Brandt,"Matheus Nachtergaele, Edmilson Filho, Letícia ...",Brazil,"March 18, 2021",2021,TV-14,98 min,"Action & Adventure, Comedies, International Mo...",Two hapless cops find themselves in over their...
1339,s1340,TV Show,Invisible City,NaN,"Marco Pigossi, Alessandra Negrini, Fábio Lago,...",Brazil,"February 5, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","After a family tragedy, a man discovers mythic..."

In [220]:
df.query('release_year > 2020 & country == "Brazil"')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
783,s784,Movie,Carnaval,Leandro Neri,"Giovana Cordeiro, Gkay, Bruna Inocencio, Samya...",Brazil,"June 2, 2021",2021,TV-MA,95 min,"Comedies, International Movies, Music & Musicals","After a breakup, an influencer takes her frien..."
966,s967,Movie,Get the Grift,Pedro Antonio,"Marcus Majella, Samantha Schmütz, Caito Mainie...",Brazil,"April 28, 2021",2021,TV-MA,95 min,"Comedies, International Movies","After a botched scam, Clóvis bumps into Lohane..."
1188,s1189,Movie,Get the Goat,Vitor Brandt,"Matheus Nachtergaele, Edmilson Filho, Letícia ...",Brazil,"March 18, 2021",2021,TV-14,98 min,"Action & Adventure, Comedies, International Mo...",Two hapless cops find themselves in over their...
1339,s1340,TV Show,Invisible City,NaN,"Marco Pigossi, Alessandra Negrini, Fábio Lago,...",Brazil,"February 5, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","After a family tragedy, a man discovers mythic..."

### Criando e removendo colunas

In [221]:
df['date_added'] = df['date_added'] + '.'
df['date_added']

0       September 25, 2021.
1       September 24, 2021.
2       September 24, 2021.
3       September 24, 2021.
4       September 24, 2021.
               ...
6394     November 24, 2017.
6395      November 1, 2019.
6396     September 7, 2017.
6397          June 6, 2019.
6398    September 15, 2018.
Name: date_added, Length: 6399, dtype: object

In [222]:
df = df.drop('date_added', axis=1)
df

,show_id,type,title,director,cast,country,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...
6394,s6395,Movie,Bushwick,"Cary Murnion, Jonathan Milott","Dave Bautista, Brittany Snow, Angelic Zambrana...",United States,2017,TV-MA,94 min,"Action & Adventure, Independent Movies",When their diverse neighborhood is besieged by...
6395,s6396,Movie,Butterfield 8,Daniel Mann,"Elizabeth Taylor, Laurence Harvey, Eddie Fishe...",United States,1960,TV-14,108 min,"Classic Movies, Dramas, Romantic Movies",Elizabeth Taylor won an Oscar as Gloria Wandro...
6396,s6397,Movie,Cézanne et moi,Daniele Thompson,"Guillaume Canet, Guillaume Gallienne, Alice Po...","Belgium, France",2016,R,114 min,"Dramas, Independent Movies, International Movies",This historical drama explores the long and of...
6397,s6398,Movie,Cabin Fever,Travis Zariwny,"Gage Golightly, Matthew Daddario, Samuel Davis...",United States,2016,R,98 min,"Horror Movies, Thrillers",As a flesh-eating virus rips its way through a...
6398,s6399,TV Show,Cabins in the Wild with Dick Strawbridge,NaN,"Dick Strawbridge, William Hardie",United Kingdom,2017,TV-PG,1 Season,"British TV Shows, International TV Shows, Real...",Engineer Dick Strawbridge and craftsman Will H...

### Resumindo dados

In [247]:
dmd = pd.read_csv(r'C:\Users\henrique.mourao\PyCharmMiscProject\EstudoPython\Dataset\card_transdata.csv',encoding="latin1")
dmd

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [224]:
dmd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   distance_from_home              1000000 non-null  float64
 1   distance_from_last_transaction  1000000 non-null  float64
 2   ratio_to_median_purchase_price  1000000 non-null  float64
 3   repeat_retailer                 1000000 non-null  float64
 4   used_chip                       1000000 non-null  float64
 5   used_pin_number                 1000000 non-null  float64
 6   online_order                    1000000 non-null  float64
 7   fraud                           1000000 non-null  float64
dtypes: float64(8)
memory usage: 61.0 MB

In [225]:
dmd.columns

Index(['distance_from_home', 'distance_from_last_transaction',
       'ratio_to_median_purchase_price', 'repeat_retailer', 'used_chip',
       'used_pin_number', 'online_order', 'fraud'],
      dtype='object')

In [226]:
dmd['fraud'].sum()

np.float64(87403.0)

In [227]:
dmd['ratio_to_median_purchase_price'].mean()

np.float64(1.8241819784044917)

In [228]:
sampled_dmd = dmd.sample(frac=0.1, random_state=45)
sampled_dmd.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
775353,32.605736,0.614529,6.548150,1.0,1.0,0.0,0.0,0.0
695670,3.427099,0.248604,0.594312,1.0,0.0,0.0,1.0,0.0
59884,106.887554,1.618540,0.420701,1.0,0.0,0.0,1.0,1.0
962591,4.763052,0.512873,2.614566,1.0,0.0,0.0,1.0,0.0
593444,4.451973,0.205101,2.614983,1.0,0.0,0.0,1.0,0.0

### Limpeza de dados

In [229]:
dmd = sampled_dmd

In [230]:
dmd.dropna()
dmd.count()

distance_from_home                100000
distance_from_last_transaction    100000
ratio_to_median_purchase_price    100000
repeat_retailer                   100000
used_chip                         100000
used_pin_number                   100000
online_order                      100000
fraud                             100000
dtype: int64

In [231]:
df = df[df['director'].notna()]

In [232]:
media_ano = df['release_year'].mean()
df['release_year'].fillna(media_ano)

0       2020
2       2021
5       2021
6       2021
7       1993
        ...
6392    2018
6394    2017
6395    1960
6396    2016
6397    2016
Name: release_year, Length: 4266, dtype: int64

In [245]:
df.loc[:, 'cast'] = df['cast'].astype(str)
df['cast']

0                                                     nan
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
5       Kate Siegel, Zach Gilford, Hamish Linklater, H...
6       Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7       Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
                              ...
6392    Yoo Ah-in, Steven Yeun, Jun Jong-seo, Kim Soo-...
6394    Dave Bautista, Brittany Snow, Angelic Zambrana...
6395    Elizabeth Taylor, Laurence Harvey, Eddie Fishe...
6396    Guillaume Canet, Guillaume Gallienne, Alice Po...
6397    Gage Golightly, Matthew Daddario, Samuel Davis...
Name: cast, Length: 4266, dtype: object

### Contando ocorrências

In [234]:
df.groupby('director')

In [235]:
df.groupby('director')['release_year'].mean()

director
A. L. Vijay            2017.5
A. Raajdheep           2020.0
A. Salaam              1975.0
A.R. Murugadoss        2017.5
Aadish Keluskar        2018.0
                        ...
Çagan Irmak            2005.0
Ísold Uggadóttir       2018.0
Óskar Thór Axelsson    2017.0
Ömer Faruk Sorak       2007.5
Şenol Sönmez           2017.0
Name: release_year, Length: 3262, dtype: float64

In [236]:
df.groupby('director').describe()

                    release_year                                             \
                           count    mean       std     min      25%     50%
director
A. L. Vijay                  2.0  2017.5  2.121320  2016.0  2016.75  2017.5
A. Raajdheep                 1.0  2020.0       NaN  2020.0  2020.00  2020.0
A. Salaam                    1.0  1975.0       NaN  1975.0  1975.00  1975.0
A.R. Murugadoss              2.0  2017.5  0.707107  2017.0  2017.25  2017.5
Aadish Keluskar              1.0  2018.0       NaN  2018.0  2018.00  2018.0
...                          ...     ...       ...     ...      ...     ...
Çagan Irmak                  1.0  2005.0       NaN  2005.0  2005.00  2005.0
Ísold Uggadóttir             1.0  2018.0       NaN  2018.0  2018.00  2018.0
Óskar Thór Axelsson          1.0  2017.0       NaN  2017.0  2017.00  2017.0
Ömer Faruk Sorak             2.0  2007.5  4.949747  2004.0  2005.75  2007.5
Şenol Sönmez                 2.0  2017.0  2.828427  2015.0  2016.00  2017.0


                         75%     max
director
A. L. Vijay          2018.25  2019.0
A. Raajdheep         2020.00  2020.0
A. Salaam            1975.00  1975.0
A.R. Murugadoss      2017.75  2018.0
Aadish Keluskar      2018.00  2018.0
...                      ...     ...
Çagan Irmak          2005.00  2005.0
Ísold Uggadóttir     2018.00  2018.0
Óskar Thór Axelsson  2017.00  2017.0
Ömer Faruk Sorak     2009.25  2011.0
Şenol Sönmez         2018.00  2019.0

[3262 rows x 8 columns]

### Ordenando dados

In [237]:
df.sort_values(by='director')['director']

6078            A. L. Vijay
3537            A. L. Vijay
2389           A. Raajdheep
5549              A. Salaam
4681        A.R. Murugadoss
               ...
5975    Óskar Thór Axelsson
981        Ömer Faruk Sorak
6070       Ömer Faruk Sorak
982            Şenol Sönmez
3533           Şenol Sönmez
Name: director, Length: 4266, dtype: object

In [238]:
df.sort_values(by='director', ascending=False)['director']

3533           Şenol Sönmez
982            Şenol Sönmez
981        Ömer Faruk Sorak
6070       Ömer Faruk Sorak
5975    Óskar Thór Axelsson
               ...
4681        A.R. Murugadoss
5549              A. Salaam
2389           A. Raajdheep
6078            A. L. Vijay
3537            A. L. Vijay
Name: director, Length: 4266, dtype: object

### Combinando dados

In [239]:
# DataFrame de Funcionários
dados_func = {
    'id_func': [1, 2, 3, 4, 5],
    'nome': ['Ana', 'Carlos', 'Beatriz', 'Davi', 'Eva'],
    'id_dept': [101, 102, 101, 103, 102]  # Note que os códigos se repetem
}
df_func = pd.DataFrame(dados_func)

# DataFrame de Departamentos
dados_depts = {
    'id_dept': [101, 102, 103],
    'nome_dept': ['Recursos Humanos', 'TI', 'Vendas']
}
df_depts = pd.DataFrame(dados_depts)

In [240]:
df_completo = pd.merge(df_func, df_depts)
df_completo

   id_func     nome  id_dept         nome_dept
0        1      Ana      101  Recursos Humanos
1        2   Carlos      102                TI
2        3  Beatriz      101  Recursos Humanos
3        4     Davi      103            Vendas
4        5      Eva      102                TI

In [241]:
df_completo = pd.merge(df_func, df_depts, left_on='id_dept', right_on='id_dept')
df_completo

   id_func     nome  id_dept         nome_dept
0        1      Ana      101  Recursos Humanos
1        2   Carlos      102                TI
2        3  Beatriz      101  Recursos Humanos
3        4     Davi      103            Vendas
4        5      Eva      102                TI

In [242]:
dados_func = {
    'id_func': [6, 7, 8, 9, 10],
    'nome': ['Patrick', 'Jaqueline', 'Bianca', 'Raquel', 'Andrei'],
    'id_dept': [101, 102, 101, 103, 102]
}

df_func_novos = pd.DataFrame(dados_func)

In [243]:
df_todos = pd.concat([df_func, df_func_novos], ignore_index=True)
df_todos

   id_func       nome  id_dept
0        1        Ana      101
1        2     Carlos      102
2        3    Beatriz      101
3        4       Davi      103
4        5        Eva      102
5        6    Patrick      101
6        7  Jaqueline      102
7        8     Bianca      101
8        9     Raquel      103
9       10     Andrei      102

### Escrevendo dados em arquivos

In [246]:
df_todos.to_csv('salvar.csv', index=False)