In [1]:
import sqlite3
import pandas as pd

In [5]:

DB_PATH = 'escola_ingles.db'

def executar_query(sql_query):
    """Função Helper para conectar e retornar DataFrame."""
    try:
        conn = sqlite3.connect(DB_PATH)
        df_resultado = pd.read_sql_query(sql_query, conn)
        conn.close()
        print(f"-> Query executada! Retornou {len(df_resultado)} linhas.")
        return df_resultado
    except Exception as e:
        print(f"Erro na Query SQL:\n{e}")

def resetar_banco():
    """Recria o banco de dados do zero com dados da Escola de Inglês."""

    print("Iniciando o reset do banco de dados...")
    conn = sqlite3.connect(DB_PATH)
    cursor = conn.cursor()
    
    print(f"Resetando o Banco de Dados '{DB_PATH}'...")
    cursor.execute("DROP TABLE IF EXISTS funcionarios")
    cursor.execute("""
        CREATE TABLE funcionarios (
            id_func INTEGER PRIMARY KEY,
            nome TEXT,
            cargo TEXT,
            idioma_principal TEXT,
            valor_hora_aula REAL,
            data_contratacao TEXT
        )
    """)
    
    staff_data = [
        (1, 'Mr. John Smith', 'Professor', 'Inglês', 85.50, '2019-02-10'),
        (2, 'Sarah Connor', 'Coordenadora', 'Inglês', 120.00, '2018-05-15'),
        (3, 'Juan Garcia', 'Professor', 'Espanhol', 80.00, '2021-03-20'),
        (4, 'Amanda Lee', 'Recepcionista', 'Português', 25.00, '2023-01-10'),
        (5, 'Mike Ross', 'Professor', 'Inglês', 90.00, '2022-08-05'),
        (6, 'Pierre Dupont', 'Professor', 'Francês', 95.00, '2020-11-01')
    ]
    cursor.executemany("INSERT INTO funcionarios VALUES (?,?,?,?,?,?)", staff_data)
    
    cursor.execute("DROP TABLE IF EXISTS cursos")
    cursor.execute("""
        CREATE TABLE cursos (
            id_curso INTEGER PRIMARY KEY,
            nome_curso TEXT,
            nivel TEXT,
            dias_semana TEXT,
            capacidade_maxima INTEGER,
            mensalidade REAL
        )
    """)
    
    cursos_data = [
        (101, 'General English', 'Básico (A1)', 'Seg/Qua', 20, 350.00),
        (102, 'General English', 'Intermediário (B1)', 'Ter/Qui', 15, 380.00),
        (103, 'Business English', 'Avançado (C1)', 'Sáb', 10, 550.00),
        (104, 'Kids Fun', 'Iniciante', 'Seg/Qua', 12, 320.00),
        (105, 'Conversation Club', 'Avançado (C2)', 'Sex', 8, 200.00),
        (106, 'Intensive IELTS', 'Preparatório', 'Ter/Qui', 10, 600.00)
    ]
    cursor.executemany("INSERT INTO cursos VALUES (?,?,?,?,?,?)", cursos_data)

    conn.commit()
    conn.close()
    print(f"Banco de Dados '{DB_PATH}' da Global Speak Academy criado!")



resetar_banco()

Iniciando o reset do banco de dados...
Resetando o Banco de Dados 'escola_ingles.db'...
Banco de Dados 'escola_ingles.db' da Global Speak Academy criado!