In [1]:
import pandas as pd
from sqlalchemy import create_engine

#1- conectando
connection_string = 'postgresql://postgres:senha123@'\
'localhost:5432/postgres'
engine = create_engine(connection_string)

In [2]:
#2- criando um DataFrame
df_teste = pd.DataFrame({
    'id' : [1, 2, 3, 5],
    'nome' : ['Ana', 'Gustavo', 'Henrique', 'Patrik'],
    'cargo' : ['CEO', 'Analista', 'Gerente', 'PO']
})
df_teste

   id      nome     cargo
0   1       Ana       CEO
1   2   Gustavo  Analista
2   3  Henrique   Gerente
3   5    Patrik        PO

In [3]:
#3-escrevendo no banco
print('Escrevendo dados no Docker...')
df_teste.to_sql('funcionarios',
                engine,
                if_exists='replace', #adiciona, mesmo se  tiver iguais e nao repete
                index=False)

Escrevendo dados no Docker...

4

In [4]:
#4- select
print('Lendo dados do Docker...')
df_lido = pd.read_sql(
    'SELECT * FROM funcionarios',
    engine
    )
df_lido

Lendo dados do Docker...

   id      nome     cargo
0   1       Ana       CEO
1   2   Gustavo  Analista
2   3  Henrique   Gerente
3   5    Patrik        PO