In [22]:
import sqlite3
import pandas as pd

DB_PATH = 'escola_v2.db' #constante que define o caminho para o banco de dados SQLite

In [23]:
cafes = pd.DataFrame ({
    'id' : [1, 2, 3, 4, 5, 6],
    'nome' : ['Baggio', 'Lor', 'Tres Corações', 'Canecão', 'Moraes', 'Experimental'],
    'nota' : [10, 10, 9, 2, 8, 3]
})

cafes

   id           nome  nota
0   1         Baggio    10
1   2            Lor    10
2   3  Tres Corações     9
3   4        Canecão     2
4   5         Moraes     8
5   6   Experimental     3

In [24]:
#conectando o df no banco
conn = sqlite3.connect(DB_PATH)
cafes.to_sql('cafes', conn, if_exists='replace', index=False)
conn.close()

In [25]:
query = """
SELECT * FROM cafes LIMIT 10
"""

conn = sqlite3.connect(DB_PATH)
df_cafes = pd.read_sql(query, conn)
conn.close()
df_cafes

   id           nome  nota
0   1         Baggio    10
1   2            Lor    10
2   3  Tres Corações     9
3   4        Canecão     2
4   5         Moraes     8
5   6   Experimental     3