In [15]:
from trino.dbapi import connect
import pandas as pd

# Conectando no TRINO (Porta 8080)
conn = connect(
    host='localhost',
    port=8080,
    user='postgres', # Trino não exige senha por padrão em dev
    catalog='pg', # O nome do arquivo .properties que criamos
    schema='public'
)

# O Trino traduz esse SQL e manda pro Postgres
query = "SELECT * FROM funcionarios WHERE cargo = 'gerente'"

df_trino = pd.read_sql(query, conn)
df_trino

C:\Users\henrique.mourao\AppData\Local\Temp\ipykernel_5996\1738840942.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_trino = pd.read_sql(query, conn)

   id    nome    cargo
0   3  thiago  gerente